
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{margin:0;
padding:0;
}
body{
    background-color:#ffbf5f ;
    color:#000;
    font-size:2rem;
    line-height: 1.6em;
    margin:0;
    font-family:'Quicksand';
    text-align:center;
}
header{
    z-index:12;
    position:fixed;
    height:10%;
    width:90%;
    background:rgba(0,0,0,0.9);
    margin-left:4.75%;
    margin-top:0.5%;
    padding-top:0.5%;
    padding-bottom:0.5%;
}
nav{
    float:center;
    line-height: 3.7rem;
}
nav a{
        color:#FBA92c;

        font-size: 1.5rem;
        padding-right: 3rem;
        padding-left: 3rem;
        margin-left:auto;
        margin-right:auto;
        border-style:solid;
        transition:.5s;
        justify-content: space-between; 
}
nav a:hover{
    background-color: #09133e;
    padding-top:10px;
    padding-bottom:10px;
    color: #FBA92c;
}
nav a.active{
    background-color:#202264;
    color: #fff;
    padding-top:10px;
    padding-bottom:10px;
}
#navbar{
    width:90%;
    margin:0 auto;
}

nav a:hover{
    background-color: #09133e;
    padding-top:10px;
    padding-bottom:10px;
    color: #FBA92c;
}
nav a.active{
    background-color:#202264;
    color: #fff;
    padding-top:10px;
    padding-bottom:10px;
}
.bodyboxhome{
    width:90%;
    border-style:solid;
    border-color:black;
    position:fixed;
    background-color:rgba(2,2,2,0.2);
    height:auto;
    padding-top:10px;
    padding-bottom:8rem;
    margin-left:4.75%;
  top:6.4rem;
    margin-bottom:10px;
}
.bodyboxskills{
    border-style:solid;
    border-color:black;
    position:absolute;
    background-color:rgba(2,2,2,0.2);
    height:auto;
    padding-top:10px;
    padding-bottom:8rem;
    margin-left:4.75%;
    margin-right:4.75%;
    width:90%;
    top:6.4rem;
    margin-bottom:10px;
}
.bodyboxhome img{
    width:30%; 
    height:auto;
    float:left;
    margin:10px;
    margin-top:5%;
}
.bodyboxhome p{
    line-height: 3rem;
    font-size:1.5em;
    margin-left:5%;
    width:95%;
    font-family:'Quicksand';

}
.fa {
    padding: 20px;
    font-size: 20px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin-left:5%;
  }
  .fa-facebook {
    background: #3B5998;
    border-radius:10px;
    color: white;
  }
  .fa-instagram {
      margin-left:1%;
    background: #e477c9;
    border-radius: 10px;
    color: white;
  }
#bodyboxabout{
    width:90%;
    border-style:solid;
    border-color:black;
    background-color:rgba(2,2,2,0.2);
    height:auto;
    padding-top:10px;
    padding-bottom:8rem;
    margin-left:auto;
    margin-right:auto;
    margin-top:6.3rem;
    margin-bottom:10px;
}
#bodyboxabout img{
    width:42%;
    float:right;
    margin:10px;
    margin-top:2%;
    margin-right:5%;
}
#bodyboxabout p{
    text-align:center;
    font-size:2rem;
    margin-bottom:-15px;
    line-height:3rem;
}

.bodyboxskills img{
    height:auto;
    width:30%;
    margin:10px;
    margin-top:25px;
   margin-left:auto;
   margin-right:auto;
   display:block;
}
.bodyboxskills p{
    text-align:center;
    font-size:2rem;
    width:97%;
    margin-bottom:-15px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}
.bodyboxskills a.link{
    color:#202264;
}
.bodyboxskills a.visited{
    color:black;
}
.bodyboxskills li{
    font-size:25px;
    margin-left:10%;
    text-align: left;
}
.bodyboxskills hr{
    border:3px dotted black;
    margin-top:50
}
.progress{
    width:40%;
    height:20px;
    background:#202264;
    border-radius:5px;
    overflow:hidden;
    margin-top:-30px;
    margin-bottom:10px;
    margin-left:20rem;
    border-color:black;
    border-style:solid;
}
.progress_fill{
    height:100%;
    background:#FBA92c;
}

#bodyboxprojects{
    width:90%;
    border-style:solid;
    border-color:black;
    background-color:rgba(2,2,2,0.2);
    margin:auto;
    height:auto;
    margin-bottom:20px;
    padding-top:10px;
    margin-top:6.3rem;
    margin-left:auto;
    margin-right:auto;
}

#bodyboxprojects img{
    width:30%; 
    height:auto;
    display:block;
    margin:10px;
    margin-top:25px; 
    margin-left:auto;
    margin-right:auto;
}
#bodyboxprojects p{
    text-align:center;
    font-size:2rem;
    width:97%;
    margin-top:-10px;
    margin-left:15px;
}

#bodyboxAtlas{
    width:90%;
    border-style:solid;
    border-color:black;
    color:black;
    background-color:rgba(2,2,2,0.2);
    margin:auto;
    height:auto;
    margin-bottom:20px;
    padding-top:10px;
    margin-top:6.3rem;
    margin-left:auto;
    margin-right:auto;
}

#bodyboxAtlas img{
    width:30%; 
    height:auto;
    margin:10px;
    margin-top:75px;
    margin-left:auto;
    margin-right:auto;
    display:inline-flex;
}
#bodyboxAtlas p{
    text-align:center;
    font-size:2rem;
    width:97%;
}
#bodyboxAtlas h1{
    font-size:3rem;
    text-align: center;
}
#bodyboxAtlas img.resize{
    margin-left:5%;
}
#bodyboxAtlas img.size{
    margin-left:20%;
}
#bodyboxTodo{
    width:90%;
    border-style:solid;
    border-color:black;
    color:black;
    background-color:rgba(2,2,2,0.2);
    margin:auto;
    height:auto;
    margin-bottom:20px;
    padding-top:10px;
    margin-top:6.3rem;
    margin-left:auto;
    margin-right:auto;
}
#bodyboxTodo img{
    width:30%; 
    height:auto;
    margin:10px;
    margin-top:75px; 
    margin-left:auto;
    margin-right:auto;
    display:block;
}
#bodyboxTodo p{
    text-align:center;
    font-size:2rem;
    width:97%;
}
#bodyboxTodo h1{
    font-size:40px;
    text-align: center;
}
#bodyboxContacts{
    width:90%;
    border-style:solid;
    border-color:black;
    background-color:rgba(2,2,2,0.2);
    margin:auto;
    height:auto;
    margin-bottom:20px;
    padding-top:80px;
    margin-top:6.3rem;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:15.5rem;
}

#bodyboxContacts img{
    width:40%;
    height: auto;
    float:right;
    margin-right:5%;
    border-radius:50%;
}
#bodyboxContacts p{
    text-align:center;
    font-size:2rem;
    width:97%;
}