@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
body{
    background-color:#ffbf5f ;
    color:#000;
    font-size:16px;
    line-height: 1.6em;
    margin:0;
    background-size:1400px;
    background-attachment: fixed;
    font-family:'Quicksand';
}
#navbar{
    color:#FBA92c;   
}
.container{
        overflow:auto;
        
}
#navbar ul{
    background-color:rgba(0,0,0,0.9);
    padding-top:20px;
    height:auto;
    padding-bottom:20px;
    border-style:solid;
    border-color:#000;
    position:fixed;
    text-align:center;
    width:100%;
    margin-top:2px;
 
}
#navbar li{
    display:inline-flex;
    margin-left: auto;
    margin-right:auto;
}
#navbar a{
    color:#FBA92c;
    font-family: 'Times New Roman', serif;
    font-size: 1.5rem;
    padding-right: 3rem;
    padding-left: 3rem;
    margin-left:auto;
    margin-right:auto;
    border-style:solid;
    transition:.5s;
    justify-content: space-between; 
}
#navbar a:hover{
    background-color: #09133e;
    padding-top:10px;
    padding-bottom:10px;
    color: #FBA92c;
}
#navbar a.active{
    background-color:#202264;
    color: #fff;
    padding-top:10px;
    padding-bottom:10px;
}
#bodyboxhome{
    width:90%;
    border-style:solid;
    border-color:black;
    background-color:rgba(2,2,2,0.2);
    height:auto;
    padding-top:10px;
    margin-left:auto;
    margin-right:auto;
    margin-top:6.3rem;
    margin-bottom:10px;
    padding-bottom:5.5rem;
    line-height:1.5rem;
}
#bodyboxhome img{
    width:30%; 
    height:auto;
    float:left;
    margin:10px;
    margin-top:5%;
}
#bodyboxhome p{
    line-height: 3rem;
    font-size:1.5em;
    margin-left:5%;
    width:95%;
    font-family:'Quicksand';

}
.fa {
    padding: 20px;
    font-size: 20px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin-left:5%;
  }
  .fa-facebook {
    background: #3B5998;
    border-radius:10px;
    color: white;
  }
  .fa-instagram {
      margin-left:1%;
    background: #e477c9;
    border-radius: 10px;
    color: white;
  }
#bodyboxabout{
    width:90%;
    border-style:solid;
    border-color:black;
    background-color:rgba(2,2,2,0.2);
    height:auto;
    padding-top:10px;
    padding-bottom:8rem;
    margin-left:auto;
    margin-right:auto;
    margin-top:6.3rem;
    margin-bottom:10px;
}
#bodyboxabout img{
    width:42%;
    float:right;
    margin:10px;
    margin-top:2%;
    margin-right:5%;
}
#bodyboxabout p{
    text-align:center;
    font-size:1.5rem;
    margin-bottom:-15px;
    line-height:3rem;
}
#bodyboxskills{
    width:90%;
    border-style:solid;
    border-color:black;
    background-color:rgba(2,2,2,0.2);
    margin-bottom:20px;
    padding-top:10px;
    margin-top:6.3rem;
    padding-bottom:5rem;
    height:auto;
    margin-left:auto;
    margin-right:auto;
}
#bodyboxskills img{
    height:auto;
    width:30%;
    margin:10px;
    margin-top:25px;
   margin-left:auto;
   margin-right:auto;
   display:block;
}
#bodyboxskills p{
    text-align:center;
    font-size:2rem;
    width:97%;
    margin-bottom:-15px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}
#bodyboxskills a.link{
    color:#202264;
}
#bodyboxskills a.visited{
    color:black;
}
#bodyboxskills li{
    font-size:25px;
    margin-left:10%;
    align-items: center;
}
#bodyboxskills hr{
    border:3px dotted black;
    margin-top:50
}
.progress{
    width:40%;
    height:20px;
    background:#202264;
    border-radius:5px;
    overflow:hidden;
    margin-top:-30px;
    margin-bottom:10px;
    margin-left:20rem;
    border-color:black;
    border-style:solid;
}
.progress_fill{
    height:100%;
    background:#FBA92c;
}

#bodyboxprojects{
    width:90%;
    border-style:solid;
    border-color:black;
    background-color:rgba(2,2,2,0.2);
    margin:auto;
    height:auto;
    margin-bottom:20px;
    padding-top:10px;
    margin-top:6.3rem;
    margin-left:auto;
    margin-right:auto;
}

#bodyboxprojects img{
    width:30%; 
    height:auto;
    display:block;
    margin:10px;
    margin-top:25px; 
    margin-left:auto;
    margin-right:auto;
}
#bodyboxprojects p{
    text-align:center;
    font-size:25px;
    width:97%;
    margin-top:-10px;
    margin-left:15px;
}

#bodyboxAtlas{
    width:90%;
    border-style:solid;
    border-color:black;
    color:black;
    background-color:rgba(2,2,2,0.2);
    margin:auto;
    height:auto;
    margin-bottom:20px;
    padding-top:10px;
    margin-top:6.3rem;
    margin-left:auto;
    margin-right:auto;
}

#bodyboxAtlas img{
    width:30%; 
    height:auto;
    margin:10px;
    margin-top:75px;
    margin-left:auto;
    margin-right:auto;
    display:inline-flex;
}
#bodyboxAtlas p{
    text-align:center;
    font-size:25px;
    width:97%;
    margin-left:15px;
}
#bodyboxTodo{
    width:90%;
    border-style:solid;
    border-color:black;
    color:black;
    background-color:rgba(2,2,2,0.2);
    margin:auto;
    height:auto;
    margin-bottom:20px;
    padding-top:10px;
    margin-top:6.3rem;
    margin-left:auto;
    margin-right:auto;
}
#bodyboxTodo img{
    width:30%; 
    height:auto;
    margin:10px;
    margin-top:75px; 
    margin-left:auto;
    margin-right:auto;
    display:block;
}
#bodyboxTodo p{
    text-align:center;
    font-size:25px;
    width:97%;
    margin-left:15px;
}
#bodyboxContacts{
    width:90%;
    border-style:solid;
    border-color:black;
    background-color:rgba(2,2,2,0.2);
    margin:auto;
    height:auto;
    margin-bottom:20px;
    padding-top:80px;
    margin-top:6.3rem;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:15.5rem;
}

#bodyboxContacts img{
    width:40%;
    height: auto;
    float:right;
    margin-right:5%;
    border-radius:50%;
}
#bodyboxContacts p{
    text-align:center;
    font-size:1.5rem;
    width:97%;
}
@media screen and (max-width:700px){
    .progress{
        width:40%;
        height:20px;
        background:#202264;
        border-radius:5px;
        overflow:hidden;
        margin-top:-30px;
        margin-bottom:10px;
        margin-left:50%;
        border-color:black;
        border-style:solid;
}
#bodyboxskills li{
    font-size:18px;
    margin-left:1%;
    align-items: center;
}
#bodyskills a{
    width:40%;
}
}